canvas{
  width: 800px!important;
  height: 600px!important;
  display: flex;
  margin: auto;
}
button{
  display: flex;
  margin:auto;
  background: none;
  border: 2px solid yellow;
  font-size: 20px;
  border-radius: 10px;
  color: green;
  user-select: none;
  outline:none;
}
#picture{
  display: none;
}
.uploader{
  display: flex;
  margin-top: 50px;
  font-size: 20px;
}
label{
  display: flex;
  margin:auto;
}
img{
  display: flex;
  margin:auto;
}
.togglerContainer{
  display: flex;
}
.togglerItem{
  font-size: 20px;
  margin: 20px;
  padding: 10px;
  
  outline: 1px solid black;
}
.togglerItem.active{
  outline: 1px solid yellow;
}
.inputFields input{
  width: 30%;
  padding: 10px;
  margin: 20px;
  display: block;
}
.resultInput{
  margin: 20px;
}
.checker{
  display: block !important;
  margin: 0;
}
.custominput{
  display: block;
}