h1{
    font-size: 4rem;
    z-index: 2;
}
input{
    width: 100%;
    height: 60px;
}
.disappear{
    display: none;
}
li:hover{
    background: lightblue;
}
.victim{
    color: red;
    position: absolute;
    z-index: 0;
    right: 0px;
    transform: rotate(-8deg);
    top: 18px;
}
.arrived{
    background: lightgreen;
}
