.loader-container{
  display: flex;
  justify-content: space-between;
}
.loader{
  
  margin-left: auto;
  margin-right: auto;
}
.text{
  display: inline-block;
  font-size: 2rem;
  font-family: 'Fascinate Inline', cursive;
}
.loader .gear{
  position: relative;
  width: 60px;
}
.gear1{
  top:25px;
  right:0;
  animation: spinner-right 3s ease-in-out infinite;
  animation-delay: 0;
}
.gear2{
  left: -25px;
  animation: spinner-left 3s ease-in-out infinite;
  animation-delay: 0;
}
.gear3{
  left: -50px;
    bottom: -25px;
  animation: spinner-right 3s ease-in-out infinite;
  animation-delay: 0;
}
.breadcrumbs{
  list-style: none;
}
.breadcrumbs-item{
  display: inline-block;
}
.table{
  display:block;
}
.row{
  display: block;
}

.cell{
  display: inline-block;
  outline: 1px solid black;
}
.date{
  font-style: italic;
}
.money{
  text-align: right;
}
.number{
  text-align: right;
}
@keyframes spinner-right{
  100%{
    transform: rotate(360deg);
  }
}
@keyframes spinner-left{
  100%{
    transform: rotate(-360deg);
  }
}